.header{
    font-family: Anton;
    font-size: 1.4rem;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to bottom,  #1ac55c,#0b8f56,#0a9039 );
    width: 100%;
    height: 110px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}




.header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-shadow: 1px 1px 1px rgba(31, 30, 30, 0.363);
}


.header nav ul li{
    padding: 20px;
    border-radius: 15px;
    
}

.link{
   color: white;
   text-decoration: none;
   font-size: 1.8rem;
   padding: 10px;
   border-radius: 5px;
    
}

.header nav ul li .link:hover{
    background-color: rgb(249, 249, 249);
    color: #0b8f56;
    transition: 0.3s;
    cursor: pointer;
}


@media (max-width: 480px) {
  
    .header{
      min-width: 480px;
    }
    
    .link{
        font-size: 1.1rem;
    }
    }