
*{
    font-family: sans-serif;
}

.mainContainer {

     background-color: white;
     width: 100%;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 30px;
}

form{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDiv{
display: flex;
justify-content: space-between;
gap: 15px;
margin-bottom: 15px;
}

  

.submit{
    padding: 20px;
}

.button{
    background-color: #0b9c39;
    color: white; 
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

